<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asee.unex.es.pizzeriamilenio">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:materialdesign="http://schemas.android.com/apk/res-auto"
        android:layout_width="match_parent"
        android:layout_height="match_parent"></RelativeLayout>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Clases.IniciarSesion"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Clases.Registro"
            android:label="@string/intent1_name">
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:name=".Clases.Home"
            android:label="@string/intent2_name">
        </activity>
        <activity
            android:theme="@style/MiTema"
            android:name=".Clases.Comida"
            android:label="@string/intent2_name">
        </activity>
        <activity
            android:name=".Clases.Ofertas"
            android:label="@string/intent2_name">
        </activity>
        <activity
            android:theme="@style/MiTema"
            android:name=".Clases.Foro"
            android:label="@string/intent2_name">
        </activity>
        <activity
            android:name=".Clases.Reserva"
            android:label="@string/intent2_name">
        </activity>
        <activity
            android:name=".Clases.Ajustes"
            android:label="@string/intent2_name">
        </activity>
    </application>
</manifest>